.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

.topnav {
    width: 73%;
    padding: 1%;
    display: inline-block;
    vertical-align: top;
}

ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

.footer {
    background-color: #bdbdc4;
    padding: 15px;
}

.footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 25px;
}

.mySkills {
    width: 50%;
    margin: 0 auto;
    padding: 25px;
}

<!-- My UX Skills section coded using CSS flex -->


.flexContainer {
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-direction: row;
}

.ul {
    width: 50%;
    margin: 0 auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

      /* Responsive layout - makes a one column layout instead of a two-column layout */
      @media (max-width: 800px) {
        .flex-container {
          flex-direction: column;
        }
      }

      .myWork {
        width: 50%;
        margin: 0 auto;
        padding: 25px;
    }